<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.customer.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>register for customer</description>
    <display-name>register</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.customer.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>login for restaurant</description>
    <display-name>login</display-name>
    <servlet-name>restLoginServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>register for restaurant</description>
    <display-name>register</display-name>
    <servlet-name>restRegisterServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>注册餐厅</description>
    <display-name>RestRegisterServlet</display-name>
    <servlet-name>RestRegisterServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.RestRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddDishServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.AddDishServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyMenuServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.MyMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RestListServlet</servlet-name>
    <servlet-class>com.customer.Servlet.RestListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.customer.Servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetDishServlet</servlet-name>
    <servlet-class>com.customer.Servlet.GetDishServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.customer.Servlet.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditDishServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.EditDishServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteDishServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.DeleteDishServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetCompleteServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.SetCompleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>com.customer.Servlet.MyOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyOrderDetailServlet</servlet-name>
    <servlet-class>com.customer.Servlet.MyOrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddReviewServlet</servlet-name>
    <servlet-class>com.customer.Servlet.AddReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetReviewServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.GetReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditInfoServlet</servlet-name>
    <servlet-class>com.customer.Servlet.EditInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditInfoRServlet</servlet-name>
    <servlet-class>com.restaurant.Servlet.EditInfoRServlet</servlet-class>
  </servlet>





















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/customer/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/customer/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>restLoginServlet</servlet-name>
    <url-pattern>/servlet/restaurant/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>restRegisterServlet</servlet-name>
    <url-pattern>/servlet/restaurant/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestRegisterServlet</servlet-name>
    <url-pattern>/servlet/restaurant/RestRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDishServlet</servlet-name>
    <url-pattern>/servlet/restaurant/AddDishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyMenuServlet</servlet-name>
    <url-pattern>/servlet/restaurant/MyMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestListServlet</servlet-name>
    <url-pattern>/servlet/customer/RestListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/servlet/customer/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDishServlet</servlet-name>
    <url-pattern>/servlet/customer/GetDishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/servlet/customer/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditDishServlet</servlet-name>
    <url-pattern>/servlet/restaurant/EditDishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDishServlet</servlet-name>
    <url-pattern>/servlet/restaurant/DeleteDishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/servlet/restaurant/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/servlet/restaurant/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetCompleteServlet</servlet-name>
    <url-pattern>/servlet/restaurant/SetCompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/servlet/customer/MyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyOrderDetailServlet</servlet-name>
    <url-pattern>/servlet/customer/MyOrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddReviewServlet</servlet-name>
    <url-pattern>/servlet/customer/AddReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetReviewServlet</servlet-name>
    <url-pattern>/servlet/restaurant/GetReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditInfoServlet</servlet-name>
    <url-pattern>/servlet/customer/EditInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditInfoRServlet</servlet-name>
    <url-pattern>/servlet/restaurant/EditInfoRServlet</url-pattern>
  </servlet-mapping>
  <filter>
   <filter-name>TransactionFilter</filter-name>
   <filter-class>com.my.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
   <filter-name>TransactionFilter</filter-name>
   <url-pattern>/*</url-pattern>
  </filter-mapping>
   <!--filter>
   <filter-name>EncodingFilter</filter-name>
   <filter-class>com.my.filter.EncodingFilter</filter-class>
  </filter> 
  <filter-mapping>
   <filter-name>EncodingFilter</filter-name>
   <url-pattern>/*</url-pattern>
  </filter-mapping-->
  
  <filter>
  <filter-name>SetCharacterEncoding</filter-name>
  <filter-class>com.my.filter.SetCharacterEncodingFilter</filter-class>
  <init-param>
   <param-name>encoding</param-name>
   <param-value>utf8</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>SetCharacterEncoding</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>